.item-card-container > .MuiPaper-root:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 10px #9b9b9b;
}

.item-card-container {
  min-height: 200px;
}

a {
  text-decoration: none;
}

.decoration-link {
  color: white;
}
