.item-card-container > .MuiPaper-root:hover {
	transform: translateY(-5px);
	box-shadow: 0 12px 16px rgba(0, 0, 0, 2);
}

.item-card-container {
	min-height: 200px;
}

a {
	text-decoration: none;
}

.decoration-link {
	color: white;
}
